@import url("./layouts.css");
@import url("./modules.css");
header {
  background-color: aquamarine;
}

body {
  background: hotpink;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: blue;
}

figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}
