figure {
  background-color: greenyellow;
  text-align: center;
  max-width: 300px;
  min-height: 200px;
  margin: 5px;
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

img {
  max-width: 300px;
  max-height: 125px;
}

footer {
  clear: left;
  text-align: center;
}